/* Button color:#7433ff
text-color: #b1b4c5 grey
text box(focus): #8249ff
text color|(name,etc) #3f3f3f
left panel bg color: ##faf8fd

 */
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sen", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #6f6edf;
  /* overflow: hidden; */
}
.left-panel h1 {
  font-size: 1.2em;
  padding: 1.4em;
  color: #8249ff;
}

.container {
  max-width: 960px;
  margin: 100px auto;
  display: flex;
}
.left-panel {
  background-color: #faf8fd;
  display: flex;
  flex-direction: column;
}
.left-panel img {
  width: 500px;
}
.right-panel {
  background-color: #fff;
}
.right-panel h2 {
  color: #b1b4c5;
  font-size: 1em;
  display: inline-block;
}
.right-panel button {
  display: inline-block;
  cursor: pointer;
}
.old-account {
  display: flex;
  justify-content: end;
  padding: 20px;
  text-align: center;
  margin-left: 50px;
}
.old-account h2 {
  margin-right: 10px;
  font-size: 0.9em;
  position: relative;
  top: 5px;
}
.old-account button {
  padding: 5px 15px;
  color: #8e92ab;
  background-color: #fff;
  border: 1px solid #b1b4c5;
  font-weight: 700;
  border-radius: 20px;
  font-size: 0.7em;
}

.container-right {
  margin: 0 40px;
}

.welcome {
  padding: 20px 20px 10px 0;
}

.form {
  margin: 30px 0;
}
.name,
.email,
.password {
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  margin-top: 10px;
  display: block;
  padding: 5px;
  width: 90%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #8e92ab;
  opacity: 50%;
}

/* input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus */

input:hover{
  border: 2px solid #8249ff;
  opacity: 100%;
}

.form button {
  padding: 10px 50px;
  background-color: #7433ff;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: 1px solid #7433ff;
  border-radius: 20px;
  margin-top: 25px;
}

.form button:focus,
.form button:hover {
  background-color: #6b19ff;
}
.social-media {
  /* align-items: baseline; */
  text-align: center;
  margin-top: 10px;
}
.social-media span {
  margin-right: 10px;
}
.social-media span,
.welcome p {
  color: #b1b4c5;
  font-size: 1em;
  display: inline-block;
}
.social-media .logo img {
  width: 20px;
  height: 20px;
}
.social-media .logo {
  display: inline;
}
.social-media logo a {
  border: 1px solid #b1b4c5;
  border-radius: 10px;
}
